<h1>Add a new triangle</h1>

<form action="/return" method="post">
  <div class="form-group">
    <label for="side_1">Side1</label>
    <input id="n" name="side_1" class="form-control" type="number">
    <label for="side_1">Side2</label>
    <input id="n2" name="side_2" class="form-control" type="number">
    <label for="side_1">Side3</label>
    <input id="n3" name="side_3" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>